
@import "compass/reset";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

ul {
	@include box-sizing(content-box); 
}

.toggleNavWrapper {
	@include clearfix;

	h3 {
		display: none;
	}
	
	nav {
		background:rgba(0,0,0,.05);
		
		ul {
			list-style: none;
			width: 100%;
			background:rgba(0,0,0,.2);
			@include clearfix;
		}

		li {
			float: left;
			position: relative;
			
			.toggleSub {
				display: none;
			}
			
			ul {
				display: none;
			}
		}
		

		a {
			color: #fff;
			display: block;
			padding: 0 40px;
			border-right: 1px solid #fff;
			text-decoration: none;

			&:hover {
				background:rgba(0,0,0,.2);
			}
		}
	}
}


/* In this sample, we are just using the max-width 768px to simplify the code.
   It'll be working on iPhone too.
   Please note, that you have to add special media queries for the specific cases, if you wish so! */

@media only screen and (max-width: 768px) {

/* Here again. The important part */
	.toggleNavWrapper {
		h3 {
			display: block;
			cursor: pointer;
			background: url('../images/icon-menu.png') left no-repeat;
			margin: 0 20px;
			padding: 0 20px;
			
			&.active {
				background: url('../images/icon-close.png') left no-repeat;
			}
		}
		
		nav {
			
			ul {
				display: none;
			}
			
			&.active {
				display: block;
			}

				li {
					display: block;
					float: none;
					overflow: hidden;
					
					a {
						border-right: 0;
						padding-right: 10%;
					}

					&.hasChild {
						a {
							float: left;
							width: 90%;
							
							&.toggleSub {
								display: block;
								position: absolute;
								right: 0;
								float: right;
								width: 10%;
								
								&.open {
									background:rgba(0,0,0,.2);
								}
							}
						}
					}

					ul {
						display: none;
						position: static;
						width: 100%;
					}

					&:hover {
						ul {
							display: none;

							li {
								float: none;
								text-align: left;
							}
						}
					}
				}
			}
		}

/* Fallback */
	.no-js {
		#navigation {
			nav {
				display: block;
			}
		}		
	}
}