/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/* Have a nice coding day !!! */

@import "menu";


body {
	font: 1em/1.2em Helvetica, Arial, sans-serif;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	font: 36px/120% Helvetica, Arial, sans-serif;
	padding: 1em 20px;
}

header {
	width: 100%;
	line-height: 50px;
}


@media only screen and (max-width: 768px) {	
	h1 {
		font: 18px/21px Helvetica, Arial, sans-serif;
		padding: 20px 10px;
	}
}