/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Have a nice coding day !!! */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/menu.scss */
.toggleNavWrapper {
  background: #000;
  color: #fff;
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../sass/menu.scss */
.toggleNavWrapper h3 {
  display: none;
  margin: 0;
  padding: 0;
  padding: 0 10px;
}
/* line 14, ../sass/menu.scss */
.toggleNavWrapper nav {
  display: block;
}
/* line 17, ../sass/menu.scss */
.toggleNavWrapper nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/menu.scss */
.toggleNavWrapper nav li {
  float: left;
  padding: 0;
  margin: 0;
}
/* line 32, ../sass/menu.scss */
.toggleNavWrapper nav a {
  color: #fff;
  display: block;
  padding: 0 40px;
  border-right: 1px solid #fff;
  text-decoration: none;
}
/* line 40, ../sass/menu.scss */
.toggleNavWrapper nav a:hover {
  background: #474741;
}

/* In this sample, we are just using the max-width 768px to simplify the code.
   It'll be working on iPhone too.
   Please note, that you have to add special media queries for the specific cases, if you wish so! */
@media only screen and (max-width: 768px) {
  /* Here again. The important part */
  /* line 56, ../sass/menu.scss */
  .toggleNavWrapper h3 {
    display: block;
    cursor: pointer;
    background: url("../images/icon-menu.png") left no-repeat;
    margin: 0 20px;
    padding: 0 20px;
  }
  /* line 63, ../sass/menu.scss */
  .toggleNavWrapper h3.active {
    background: url("../images/icon-close.png") left no-repeat;
  }
  /* line 70, ../sass/menu.scss */
  .toggleNavWrapper nav ul {
    display: none;
  }
  /* line 74, ../sass/menu.scss */
  .toggleNavWrapper nav.active {
    display: block;
  }
  /* line 78, ../sass/menu.scss */
  .toggleNavWrapper nav a {
    border-right: 0;
    border-top: 1px solid #fff;
  }
  /* line 83, ../sass/menu.scss */
  .toggleNavWrapper nav li {
    display: block;
    float: none;
  }

  /* Fallback */
  /* line 93, ../sass/menu.scss */
  .no-js #navigation nav {
    display: block;
  }
}
/* line 13, ../sass/screen.scss */
body {
  font: 1em/1.2em Helvetica, Arial, sans-serif;
}

/* line 17, ../sass/screen.scss */
.uppercase, .toggleNavWrapper nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 22, ../sass/screen.scss */
h1 {
  font: 36px/120% Helvetica, Arial, sans-serif;
  padding: 1em 20px;
}

/* line 27, ../sass/screen.scss */
header {
  width: 100%;
  line-height: 50px;
}

@media only screen and (max-width: 768px) {
  /* line 34, ../sass/screen.scss */
  h1 {
    font: 18px/21px Helvetica, Arial, sans-serif;
    padding: 20px 10px;
  }
}
